*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    width: 100%;
    height: 46rem;
    background: url(../img/5290337-person-portrait-face-dark-female-lady-girl-woman-fashion-black-gentle-calm-smile-young-brunette-art-beauty-free-images.jpg) no-repeat;
    background-size: cover;
    background-position-y: 90px;
    background-position-x: -194px;
    background-color: black;
}
.navigetion{
    width: 50%;
    height: 2rem;
     margin: auto;

}

.navigetion ul{
    justify-content: center;
    display: flex;
    list-style: none;
    align-items: center;
    min-height: 2rem;
    position: fixed;
    background-color: #282b2dab;
    border-radius: 0 0 15px 15px;
}

.list{
    padding: 1rem 2.5rem;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s;

}
.list:hover{
    transform: scale(1.1);
    background-color: rgba(149, 149, 149, 0.84);
    border-radius: 10px;
}

.text{
    color: white;
    width: 17%;
    height: 138px;
    margin: 13% 70%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}
.me{
    text-align: center;
}
.btn{
    width: 50%;
    height: 30px;
    font-weight: 600;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 20px white;
    transition: all 0.4s;
    cursor: pointer;
}

.btn:hover{
    transform: scale(1.2);
}

.shenase{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin: 3rem;

}

section img{
    width: 30%;
    border-radius: 8px;

}
.img-text{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.div-text{
    width: 50%;
    padding-top: 2rem;
    transition: all 0.4s;
    cursor: pointer;
    border-radius: 9px;
}

.div-text:hover{
    margin-left: 9px;
    background-color: rgba(63, 60, 60, 0.79);
    color: white;
    padding: 59px;
}

article img{
    width: 300px;
    margin: auto;
    padding: 20px;
    transition: all 0.3s;
}

article img:hover{
    transform: scale(1.3);
}


.imgs{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    grid-template-rows: repeat(2 ,1fr);
    background-color: #181515d4;
}

.div-serveces{
    width: 20%;
    height: 23rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 4rem;
    border-radius: 14px;
    border: 2px solid #2d2323;
    position: relative;
    transition: all 0.1s;
    overflow: hidden;
}

.div-serveces::before{
    top: 23rem;
    content: "";
    position: absolute;
    width: 100%;
    height: 23rem;
    border-radius: 14px;
    z-index: -1;
    background-color: red;
    box-shadow: 1px 1px 52px red;
    opacity: 0;
    overflow: hidden;
    transition: bottom 1s;
   color: #fff;

    
}


.div-serveces:hover.div-serveces::before{
   opacity: 1;
   display: block;
   transition:  1s;
   margin-top: -23rem;
   overflow: hidden;

   
}




.div-serveces span{
    font-size: 40px;
    font-weight: 600;
    transform: translateY(40px);
}

.div-serveces p{
    font-size: 13px;
    padding: 19px;
}

.alldiv{
    display: flex;
    justify-content: center;
}
.foter{
    width: 100%;
    height: 25rem;
    background-color: black;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.foter input{
    width: 20%;
    height: 7%;
    border-radius: 7px;
    padding: 10px;
    outline: none;
}

.foter button{
    width: 8%;
    height: 30px;
    font-weight: 600;
    border-radius: 6px;
}